Django==6.0.1

# Environment Variables
python-dotenv==1.2.1
django-environ==0.12.0

# email validator
email-validator==2.3.0

# phone number validator
django-phonenumber-field==8.4.0
phonenumbers==9.0.22

# Utils
requests==2.32.5

# TestCase
pytest==9.0.2
pytest-django==4.12.0

# Query 
django-silk==5.5.0

# Countries list
django-countries==9.0.0

# Widget tweak for HTML
django-widget-tweaks==1.5.1

# PDF Generator
weasyprint==69.0